@charset "UTF-8";
@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

html body {
  font-family: 'ヒラギノ明朝 Pro' sans-serif;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-weight: 200;
}

header {
  width: 100%;
  height: 94px;
  background: #4D0000 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header .header-logo {
  margin-top: 0;
  margin-right: auto;
}

header .header-logo img {
  margin-top: 19px;
  margin-bottom: 19px;
  margin-left: 30px;
  width: 150px;
  height: 56px;
}

header .header-nav {
  margin-left: auto;
}

header .header-nav .nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}

header .header-nav .nav .nav-list .list-item a {
  display: block;
  text-align: center;
  font: normal normal normal 18px/31px Hiragino Mincho Pro;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin: auto 0;
  text-decoration: none;
  padding-top: 38px;
  padding-bottom: 38px;
  line-height: 100%;
}

header .header-nav .nav .nav-list .list-item:nth-child(-n+4) {
  padding-right: 20px;
}

header .header-nav .nav .nav-list .list-item:nth-child(4) {
  padding-right: 40px;
}

header .header-nav .c-button {
  position: relative;
  display: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

header .header-nav .p-hamburger {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0px;
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .header-nav .p-hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  width: 52px;
  height: 3px;
  background-color: white;
  -webkit-transition: inherit;
  transition: inherit;
}

header .header-nav .p-hamburger__line::before,
header .header-nav .p-hamburger__line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  content: '';
  -webkit-transition: inherit;
  transition: inherit;
}

header .header-nav .p-hamburger__line::before {
  top: -15px;
}

header .header-nav .p-hamburger__line::after {
  top: 15px;
}

header .header-nav .p-hamburger[aria-expanded="true"] .p-hamburger__line {
  background-color: transparent;
}

header .header-nav .p-hamburger[aria-expanded="true"] .p-hamburger__line::before,
header .header-nav .p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  top: 0;
  background-color: white;
}

header .header-nav .p-hamburger[aria-expanded="true"] .p-hamburger__line::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

header .header-nav .p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.top-wrapper {
  background-image: url("../image/top-bg.png");
  background-size: cover;
  background-position: center;
  height: 674px;
  margin-top: 94px;
  width: 100%;
}

.top-wrapper .top-image h1 {
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin: 0;
  padding-top: 270px;
  padding-bottom: 269px;
}

.hide-menu {
  position: fixed;
  top: 94px;
  left: 0;
  z-index: 10;
  background-color: #000000CC;
  width: 100%;
  height: 246px;
  text-align: center;
  display: none;
}

.hide-menu ul {
  margin: 0;
  padding: 0;
  margin-top: 0;
  list-style-type: none;
  color: #fff;
  font-size: 24px;
}

.hide-menu ul li {
  margin: 0;
  padding: 0;
}

.hide-menu ul li a {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  line-height: 24px;
}

.hide-menu ul li:nth-child(1) a {
  margin-top: 35px;
}

.feature .title-wrapper {
  background-color: #000;
  width: 100%;
}

.feature .title-wrapper .feature-title {
  color: #fff;
  text-align: center;
}

.feature .title-wrapper .feature-title h2 {
  font-size: 32px;
  padding-top: 80px;
  margin: 0;
  font-weight: normal;
}

.feature .title-wrapper .feature-title p {
  font-size: 20px;
  font-family: "Times New Roman";
  margin: 0;
  padding-top: 40px;
  padding-bottom: 60px;
  font-weight: normal;
}

.feature-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.feature-contents .content {
  width: 50%;
  background-color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-contents #content-image1 img {
  width: 100%;
  height: auto;
}

.feature-contents #content-image2 img {
  width: 100%;
}

.feature-contents #content-image3 img {
  width: 100%;
}

.feature-contents .content-text {
  background-color: #000;
  color: #fff;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-contents .content-text h3 {
  margin: 0;
  color: #FFFFDD;
  font-size: 28px;
  font-weight: normal;
  padding-left: 43px;
  padding-right: 15px;
  padding-top: 40px;
}

.feature-contents .content-text p {
  margin: 0;
  color: #fff;
  padding-left: 43px;
  padding-right: 42px;
  padding-top: 50px;
}

.feature-contents .content-text .detail-btn {
  margin: 0 auto;
  width: 155px;
  height: 37px;
  background-color: #B8860BEA;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.feature-contents .content-text .detail-btn a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  line-height: 37px;
}

.plan .plan-wrapper {
  background-color: #000;
  width: 100%;
}

.plan .plan-wrapper .plan-title {
  color: #fff;
  text-align: center;
}

.plan .plan-wrapper .plan-title h2 {
  font-size: 32px;
  padding-top: 80px;
  margin: 0;
  font-weight: normal;
}

.plan .plan-wrapper .plan-title p {
  font-size: 20px;
  font-family: "Times New Roman";
  margin: 0;
  padding-top: 40px;
  padding-bottom: 60px;
  font-weight: normal;
}

.plan-list-wrapper {
  background-color: #000;
  width: 100%;
}

.plan-list-wrapper #plan-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plan-list-wrapper #plan-list .plan-list-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan-list-wrapper #plan-list .plan-list-item .plan-box {
  background-color: #fff;
  border-radius: 8px;
  margin-left: 27px;
}

.plan-list-wrapper #plan-list .plan-list-item .plan-box img {
  width: 100%;
  height: auto;
  padding-bottom: 0;
  margin-bottom: 0;
  vertical-align: bottom;
}

.plan-list-wrapper #plan-list .plan-list-item .plan-box .plan-box-text {
  margin: 0;
  padding: 0;
}

.plan-list-wrapper #plan-list .plan-list-item .plan-box .plan-box-text .plan-name {
  font-size: 16px;
  padding-top: 24px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0;
}

.plan-list-wrapper #plan-list .plan-list-item .plan-box .plan-box-text .plan-price {
  font-size: 14px;
  margin: 0;
  padding-top: 60px;
  padding-left: 25px;
  padding-bottom: 50px;
}

.plan-list-wrapper #plan-list .plan-list-item .plan-box .plan-box-text .plan-price span {
  color: #FF0000;
}

.service-list-wrapper {
  background-color: #000;
  width: 100%;
}

.service-list-wrapper .service-list {
  background-color: #000;
  margin: 0;
  padding-top: 100px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-list-wrapper .service-list .service-list-item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-list-wrapper .service-list .service-list-item .service-box {
  background-color: #fff;
  opacity: 0.9;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.service-list-wrapper .service-list .service-list-item .service-box img {
  width: 160px;
  height: auto;
  margin-top: 10px;
  vertical-align: bottom;
}

.service-list-wrapper .service-list .service-list-item .service-box .service-text h3 {
  margin: 0;
  padding-top: 3px;
  font-size: 28px;
  font-weight: normal;
}

.service-list-wrapper .service-list .service-list-item .service-box .service-text p {
  text-align: left;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
}

.service-list-wrapper .service-list .service-list-item:nth-child(1) {
  margin-left: 37px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.service-list-wrapper .service-list .service-list-item:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.service-list-wrapper .service-list .service-list-item:nth-child(3) {
  margin-right: 37px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.blog .blog-wrapper {
  background-color: #000;
  width: 100%;
}

.blog .blog-wrapper .blog-title {
  color: #fff;
  text-align: center;
}

.blog .blog-wrapper .blog-title h2 {
  font-size: 32px;
  padding-top: 80px;
  margin: 0;
  font-weight: normal;
}

.blog .blog-wrapper .blog-title p {
  font-size: 20px;
  font-family: "Times New Roman";
  margin: 0;
  padding-top: 40px;
  padding-bottom: 60px;
  font-weight: normal;
}

.blog-list-wrapper {
  background-color: #000;
  width: 100%;
  margin: 0;
  padding: 0;
}

.blog-list-wrapper .blog-list {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.blog-list-wrapper .blog-list .blog-list-item {
  list-style: none;
}

.blog-list-wrapper .blog-list .blog-list-item .blog-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  background-color: #000;
}

.blog-list-wrapper .blog-list .blog-list-item .blog-box .category {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 157px;
  height: 30px;
  text-align: center;
  background-color: #4D0000;
  margin-left: 72px;
}

.blog-list-wrapper .blog-list .blog-list-item .blog-box .blog-article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
  padding-right: 100px;
}

.blog-list-wrapper .blog-list .blog-list-item .blog-box .blog-article .article {
  color: #fff;
}

.blog-list-wrapper .blog-list .blog-list-item .blog-box-final {
  margin-bottom: 0;
}

.blog-list-wrapper .blog-btn {
  margin: 0 auto;
  width: 155px;
  height: 37px;
  background-color: #B8860BEA;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.blog-list-wrapper .blog-btn a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  line-height: 37px;
}

.faq .faq-wrapper {
  background-color: #000;
  width: 100%;
}

.faq .faq-wrapper .faq-title {
  color: #fff;
  text-align: center;
}

.faq .faq-wrapper .faq-title h2 {
  font-size: 32px;
  padding-top: 80px;
  margin: 0;
  font-weight: normal;
}

.faq .faq-wrapper .faq-title p {
  font-size: 20px;
  font-family: "Times New Roman";
  margin: 0;
  padding-top: 40px;
  padding-bottom: 60px;
  font-weight: normal;
}

.faq-list-wrapper {
  background-color: #000;
}

.faq-list-wrapper .menu {
  width: 920px;
  margin: 0 auto;
  padding: 0;
  max-width: 90%;
  padding-bottom: 80px;
}

.faq-list-wrapper .menu .menu__item {
  background: #fff;
  color: #000;
  cursor: pointer;
  display: block;
  position: relative;
  border: 1px solid #E5E5E5;
}

.faq-list-wrapper .menu .menu__item__link {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 0.9rem;
  text-align: center;
  font-size: 16px;
}

.faq-list-wrapper .menu .submenu {
  background: #F2F2F2;
  display: none;
}

.faq-list-wrapper .menu .submenu__item {
  padding: 0.9rem;
  margin: 0;
  list-style-type: none;
}

.faq-list-wrapper .menu .submenu__item a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  text-align: left;
}

footer {
  background-color: #4D0000;
  border-top: 1px solid #6E6E6E;
  margin: 0;
  padding: 0;
}

footer .footer-wrapper {
  text-align: center;
  background-color: #4D0000;
  height: 288px;
  margin: 0;
  padding: 0;
}

footer .footer-wrapper .footer-list-box {
  padding-top: 60px;
}

footer .footer-wrapper .footer-list-box .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0 80px;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-wrapper .footer-list-box .footer-list li {
  margin: 0;
  padding: 0;
  padding-left: 19px;
  padding-right: 19px;
}

footer .footer-wrapper .footer-list-box .footer-list li a {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
}

footer .footer-wrapper img {
  width: 188px;
  height: 70px;
  margin-top: 60px;
}

footer .footer-wrapper .copy {
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding-top: 20px;
}

@media (max-width: 767px) {
  header {
    width: 100%;
  }
  header .header-nav .nav {
    display: none;
  }
  header .header-nav .c-button {
    display: inline-block;
  }
  .top-wrapper {
    margin-top: 94px;
  }
  .top-wrapper .top-image {
    background-image: url("../image/top-mv_sp.png");
    background-size: cover;
    background-position: center;
    height: 674px;
    width: 100%;
  }
  .top-wrapper .top-image h1 {
    font-size: 35px;
    padding-top: 283px;
    font-weight: normal;
  }
  .feature-contents .content-image {
    width: 100%;
  }
  .feature-contents .content-text {
    width: 100%;
  }
  .feature-contents .content-text h3 {
    font-size: 18px;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 5px;
  }
  .feature-contents .content-text p {
    font-size: 16px;
    padding-left: 27px;
    padding-right: 27px;
  }
  .feature-contents .content-text .detail-btn {
    margin-bottom: 60px;
  }
  #content-text1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #content-text2 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  #content-text3 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  #content-image1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #content-image2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #content-image3 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .plan .plan-wrapper .plan-title h2 {
    padding-top: 40px;
  }
  .plan-list-wrapper #plan-list {
    margin: 0;
    padding: 0;
  }
  .plan-list-wrapper #plan-list .plan-list-item {
    margin-right: 26px;
  }
  .service-list-wrapper .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .service-list-wrapper .service-list .service-list-item {
    margin: 0;
    padding: 0;
  }
  .service-list-wrapper .service-list .service-list-item:nth-child(1) {
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .service-list-wrapper .service-list .service-list-item:nth-child(2) {
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .service-list-wrapper .service-list .service-list-item:nth-child(3) {
    margin-left: 26px;
    margin-right: 26px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .blog-list-wrapper .blog-list .blog-list-item .blog-box .category {
    width: 70px;
    height: 37px;
    font-size: 13px;
    margin-left: 27px;
    line-height: 37px;
  }
  .blog-list-wrapper .blog-list .blog-list-item .blog-box .blog-article {
    margin-left: 20px;
    margin-right: 28px;
    padding: 0;
  }
  .blog-list-wrapper .blog-list .blog-list-item .blog-box .blog-article a {
    font-size: 16px;
  }
  .faq-list-wrapper {
    background-color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .faq-list-wrapper .menu {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 80px;
  }
  .faq-list-wrapper .menu .menu__item {
    background: #fff;
    color: #000;
    cursor: pointer;
    display: block;
    position: relative;
    border: 1px solid #E5E5E5;
  }
  .faq-list-wrapper .menu .menu__item__link {
    color: #000;
    text-decoration: none;
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    text-align: left;
    font-size: 16px;
  }
  .faq-list-wrapper .menu .submenu {
    background: #F2F2F2;
    display: none;
    padding: 0;
  }
  .faq-list-wrapper .menu .submenu__item {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    margin: 0;
    list-style-type: none;
    text-align: left;
  }
  .faq-list-wrapper .menu .submenu__item a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    text-align: left;
  }
  footer {
    background-color: #4D0000;
  }
  footer .footer-wrapper {
    height: auto;
    background-color: #4D0000;
  }
  footer .footer-wrapper .footer-list-box .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-wrapper .footer-list-box .footer-list li {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  footer .footer-wrapper .footer-list-box .footer-list li a {
    display: inline-block;
    font-size: 16px;
  }
  footer .footer-wrapper .footer-list-box .footer-list #footer-list-final {
    margin: 0;
    margin-bottom: 0;
  }
  footer .footer-wrapper img {
    width: 150px;
    height: 56px;
    margin-top: 60px;
  }
  footer .footer-wrapper .copy {
    font-size: 16px;
    padding-bottom: 15px;
  }
}

main {
  background-color: #000;
}

.archive-top-wrapper {
  background-image: url("../image/street-409993_1920@2x.png");
  background-size: cover;
  background-position: center;
  height: 296px;
  margin-top: 94px;
  width: 100%;
}

.archive-map {
  margin-top: 20px;
  margin-left: 110px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

.archive-map a {
  color: #fff;
  padding-right: 5px;
}

.archive-map span {
  padding-right: 5px;
}

.archive-blog-list-wrapper .archive-blog-list {
  padding: 0;
  padding-left: 110px;
  margin: 0;
}

.archive-blog-list-wrapper .archive-blog-list li:nth-child(n+2) {
  margin-top: 50px;
}

.archive-blog-list-wrapper .archive-blog-list li {
  padding: 0;
  margin: 0;
}

.archive-blog-list-wrapper .archive-blog-list li a {
  text-decoration: none;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.archive-blog-list-wrapper .archive-blog-list li a .blog-image-box {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}

.archive-blog-list-wrapper .archive-blog-list li a .blog-image-box img {
  width: 100%;
  height: auto;
}

.archive-blog-list-wrapper .archive-blog-list li a .blog-image-box span {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #4D0000;
  width: 120px;
  height: 32px;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  color: #fff;
}

.archive-blog-list-wrapper .archive-blog-list li a .blog-item-text-box {
  padding-left: 32px;
  padding-right: 96px;
}

.archive-blog-list-wrapper .archive-blog-list li a .blog-item-text-box p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  line-height: 1.1em;
}

.archive-blog-list-wrapper .archive-blog-list li a .blog-item-text-box p:nth-child(1) {
  font-size: 16px;
}

.archive-blog-list-wrapper .archive-blog-list li a .blog-item-text-box p:nth-child(2) {
  font-size: 28px;
  text-decoration: underline;
  margin-top: 15px;
  margin-bottom: 20px;
}

.archive-blog-list-wrapper .archive-blog-list li a .blog-item-text-box p:nth-child(3) {
  font-size: 24px;
}

.archive-blog-list-wrapper .archive-blog-list li a:hover .blog-item-text-box p {
  text-decoration: none;
}

.blog_page_wrapper {
  padding-top: 76px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog_page_wrapper .numbers {
  display: inline-block;
  border: 2px solid #B8860B;
  text-decoration: none;
}

.blog_page_wrapper .numbers:hover {
  background-color: #B8860B;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.blog_page_wrapper .number_this {
  display: inline-block;
  border: 2px solid #B8860B;
  background-color: #B8860B;
  text-decoration: none;
}

.blog_page_wrapper .dots {
  font-size: 48px;
}

.blog_page_wrapper .page-box {
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 50px;
  height: 50px;
}

@media (max-width: 940px) {
  .archive-blog-list-wrapper .archive-blog-list {
    padding-left: 40px;
    padding-right: 40px;
  }
  .archive-blog-list-wrapper .archive-blog-list li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .archive-blog-list-wrapper .archive-blog-list li a .blog-item-text-box {
    padding: 0;
    padding-top: 20px;
  }
  .archive-map {
    width: 90%;
    margin-left: 30px;
    font-size: 16px;
  }
}

main {
  background-color: #000;
}

.single-map {
  margin-top: 20px;
  margin-left: 110px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

.single-map a {
  color: #fff;
  padding-left: 0px;
  padding-right: 5px;
}

.single-map span {
  padding-right: 5px;
}

.archive-top-wrapper {
  background-image: url("../image/street-409993_1920@2x.png");
  background-size: cover;
  background-position: center;
  height: 296px;
  margin-top: 94px;
  width: 100%;
}

.single-wrapper {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.single-wrapper .single-blog-content-wrapper {
  margin-left: 110px;
  padding-bottom: 165px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
}

.single-wrapper .single-blog-content-wrapper .single-category {
  margin-top: 50px;
}

.single-wrapper .single-blog-content-wrapper .single-category span {
  display: inline-block;
  background-color: #4D0000;
  width: 120px;
  height: 32px;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  color: #fff;
}

.single-wrapper .single-blog-content-wrapper .single-blog-title p {
  font-size: 36px;
  color: #fff;
  margin-top: 44px;
}

.single-wrapper .single-blog-content-wrapper .single-blog-date {
  font-size: 20px;
  color: #fff;
  text-align: right;
  margin-top: 68px;
}

.single-wrapper .single-blog-content-wrapper img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.single-wrapper .single-blog-content-wrapper h2 {
  font-size: 36px;
  background-color: #030F55;
  padding-left: 22px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.single-wrapper .single-blog-content-wrapper h3 {
  font-size: 26px;
}

.single-wrapper .single-blog-content-wrapper p {
  font-size: 24px;
  margin-bottom: 0;
}

.single-wrapper .sidebar {
  width: 270px;
  padding-top: 360px;
  padding-left: 55px;
  padding-right: 105px;
}

.single-wrapper .sidebar p {
  color: #fff;
}

.single-wrapper .sidebar .sidebar-title {
  width: 100%;
}

.single-wrapper .sidebar .sidebar-title p {
  width: 100%;
  height: 63px;
  line-height: 63px;
  margin: 0;
  padding: 0;
  font-size: 36px;
  background-color: #030F55;
  font-size: 21px;
  text-align: center;
  margin: 0 auto;
}

.single-wrapper .sidebar a {
  color: #fff;
}

.single-wrapper .sidebar a .sidebar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.single-wrapper .sidebar a .sidebar-content img {
  width: 100px;
  height: 70px;
}

.single-wrapper .sidebar a .sidebar-content p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  padding: 0;
  margin-left: 15px;
  font-size: 12px;
  line-height: 2em;
}

@media (max-width: 940px) {
  .sidebar {
    display: none;
  }
  .single-map {
    margin-left: 30px;
  }
  .single-wrapper .single-blog-content-wrapper {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
}

html body {
  font-family: 'ヒラギノ明朝 Pro';
}

main {
  background-color: #000;
}

.single-map {
  margin-top: 20px;
  margin-left: 110px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

.single-map a {
  color: #fff;
  padding-left: 0px;
  padding-right: 5px;
}

.single-map span {
  padding-right: 5px;
}

.archive-top-wrapper {
  background-image: url("../image/street-409993_1920@2x.png");
  background-size: cover;
  background-position: center;
  height: 296px;
  margin-top: 94px;
  width: 100%;
}

.table-wrapper {
  color: #fff;
  width: 100%;
}

.table-wrapper table {
  max-width: 985px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.table-wrapper table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 100%;
}

.table-wrapper table th {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 16px;
}

.table-wrapper table td {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-wrapper table td input, .table-wrapper table td textarea {
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
  color: #fff;
  border: 0.5px solid #fff;
  width: 100%;
  font-size: 12px;
}

.table-wrapper table td input {
  height: 50px;
  line-height: 50px;
}

.table-wrapper table td textarea {
  height: 240px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-wrapper table tr:nth-last-child() td:nth-last-child() {
  height: 200px;
}

.table-wrapper .privacy-text {
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-top: 60px;
}

.table-wrapper .privacy-text a {
  color: #fff;
}

.table-wrapper .privacy-text .ECM_CheckboxInput {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 32px;
  margin-bottom: 48px;
}

.table-wrapper .privacy-text .ECM_CheckboxInput-Input {
  margin: 0;
  width: 0;
  opacity: 0;
  margin-left: auto;
}

.table-wrapper .privacy-text .ECM_CheckboxInput:hover > .ECM_CheckboxInput-DummyInput {
  background: #DDDDDD !important;
  border: solid 2px #333333;
}

.table-wrapper .privacy-text .ECM_CheckboxInput-Input:focus + .ECM_CheckboxInput-DummyInput {
  background: #DDDDDD !important;
  border: solid 2px #333333;
}

.table-wrapper .privacy-text .ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput {
  border: solid 2px #333333;
  background: #FFFFFF;
}

.table-wrapper .privacy-text .ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hlY2siPjxwb2x5bGluZSBwb2ludHM9IjIwIDYgOSAxNyA0IDEyIj48L3BvbHlsaW5lPjwvc3ZnPg==") no-repeat center;
  background-size: contain;
}

.table-wrapper .privacy-text .ECM_CheckboxInput-DummyInput {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: solid 2px #888888;
  background: #FFFFFF;
  border-radius: 3px;
}

.table-wrapper .privacy-text .ECM_CheckboxInput-LabelText {
  margin-left: 12px;
  display: block;
  font-size: 16px;
  margin-right: auto;
}

.table-wrapper .privacy-text .submit-button {
  color: #fff;
  background-color: #B8860B;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  font-family: 'ヒラギノ明朝 Pro';
  border-style: none;
  margin-bottom: 105px;
}

.table-wrapper .privacy-text .submit-button:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
  font-family: 'ヒラギノ明朝 Pro';
}

:-moz-placeholder {
  font-family: 'ヒラギノ明朝 Pro';
}

@media (max-width: 767px) {
  .table-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .table-wrapper table {
    width: 100%;
  }
  .single-map {
    width: 90%;
    margin-left: 30px;
    font-size: 16px;
  }
}

.thanks-text {
  background-color: #000;
  padding-bottom: 110px;
}

.thanks-text p {
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 1.8em;
  margin: 0;
  padding-top: 70px;
}

.thanks-text a {
  color: #fff;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .thanks-text p {
    font-size: 16px;
  }
  .thanks-text a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */